@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto-Bold";
    src: url("/fonts/Roboto-Bold.ttf") format("opentype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Roboto-Light";
    src: url("/fonts/Roboto-Light.ttf") format("opentype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  body {
    font-family: "Roboto-Light";
  }

  .nav {
   @apply text-sm hover:font-RobotoBold transition relative h-full flex items-center
  }

  .nav::after {
    @apply content-[''] bg-red-500 absolute h-[4px] w-0 left-0 bottom-0 duration-200 opacity-0
  }

  .nav:hover::after {
    @apply w-full opacity-100
  }

  .swiper-hero {
    --swiper-theme-color: rgb(255, 255, 255);
    --swiper-pagination-bullet-border-radius: 10px !important;
    --swiper-pagination-bullet-width: 30px !important;
    --swiper-pagination-bottom: 5%;
    --swiper-pagination-left: 40px;
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-bullet-inactive-opacity: 0.3;
   
  }
  
  .swiper-pagination-bullet-active {
    --swiper-pagination-bullet-width: 50px !important;
  }

  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    left: -34.5%;
  }

  @media screen and (max-width: 768px) {
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
      left: 0;
    }
  }

  .filterlogos {
    @apply flex justify-center items-center p-3 space-x-3 w-fit whitespace-nowrap flex-shrink-0
  }

  .mySwiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


 
  
